Source: aurex-settings
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.8.4

Package: aurex-default-settings
Architecture: all
Depends: ${misc:Depends}, aurex-transmute (>=0.26), dconf-gsettings-backend | gsettings-backend, gconf2, ttf-droid, x11-common, aurex-mdm-theme, aurex-gtk-theme, aurex-wallpaper-theme (>=12.04.10), xscreensaver, xscreensaver-data, xscreensaver-data-extra, xscreensaver-gl, xscreensaver-gl-extra, libglib2.0-bin, xfconf, usb-creator-common, aurex-ctrl-alt-del, xfce4-places-plugin (>=1.5.0-0ubuntu1~ppa0.12.04.1), aurex-default-associations | aurex-associations
Recommends: xfce4-utils, nautilus, gnome-terminal, firefox, vlc, gthumb, rhythmbox
Description: default settings for the aurex 12.04 desktop
 This package contains the default settings used by aurex 12.04.

Package: aurex-live-settings
Architecture: all
Depends: ${misc:Depends}, ubiquity, xfconf, casper
Description: live session settings for aurex 12.04 
 This package contains the required settings for aurex 12.04 live desktop

Package: aurex-screenshot-settings
Architecture: all
Depends: ${misc:Depends}, shutter
Description: Hide gnome and xfce default screenshot applications
 Remove gnome and xfce screenshot tools from menu in presence of shutter.

Package: aurex-fatcli-settings
Architecture: all
Depends: ${misc:Depends}, aurex-fatcli-associations, aurex-default-settings
Recommends: chromium-browser, chromium-browser-l10n
Conflicts: network-manager, blueman
Description: fat client settings for aurex 12.04 
 This package contains the required settings for aurex 12.04 live desktop

Package: aurex-default-associations
Architecture: all
Depends: ${misc:Depends}
Provides: aurex-associations
Replaces: aurex-associations
Conflicts: aurex-associations, aurex-default-settings (<=12.04.35)
Description: helpers an file type associations for aurex 12.04
 Set default helpers and file type associations for aurex 12.04

Package: aurex-fatcli-associations
Architecture: all
Depends: ${misc:Depends}
Provides: aurex-associations
Replaces: aurex-associations
Conflicts: aurex-associations, aurex-default-settings (<=12.04.35)
Description: helpers an file type associations for aurex 12.04 fat clients
 Set default helpers and file type associations for aurex 12.04 fat clients

