Source: aurex-settings
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.8.4

Package: aurex-default-settings
Architecture: all
Depends: ${misc:Depends}, aurex-transmute (>=0.26), dconf-gsettings-backend | gsettings-backend, gconf2, fonts-droid-fallback, x11-common, aurex-lightdm-theme, aurex-gtk-theme, aurex-wallpaper-theme (>=16.04.1), light-locker, light-locker-settings, libglib2.0-bin, xfconf, usb-creator-common, aurex-ctrl-alt-del, xfce4-places-plugin (>=1.5.0-0ubuntu1~ppa0.12.04.1), xfce4-whiskermenu-plugin, aurex-default-associations, aurex-gtk-bookmarks-settings, xfce4-session, xfce4-power-manager, xfce4-volumed, aurex-usb-power-fixes, libreoffice-locking-fix
Recommends: nemo, gnome-terminal, chromium-browser, firefox, vlc, eog, parole
Description: default settings for the aurex 16.04 desktop
 This package contains the default settings used by aurex 16.04.

Package: aurex-live-settings
Architecture: all
Depends: ${misc:Depends}, ubiquity, xfconf, casper
Description: live session settings for aurex 16.04 
 This package contains the required settings for aurex 16.04 live desktop

Package: aurex-screenshot-settings
Architecture: all
Depends: ${misc:Depends}, shutter
Description: Hide gnome and xfce default screenshot applications
 Remove gnome and xfce screenshot tools from menu in presence of shutter.

Package: aurex-default-associations
Architecture: all
Depends: ${misc:Depends}, desktop-file-utils
Conflicts: aurex-default-settings (<=16.04.1)
Description: helpers and file type associations for aurex 16.04
 Set default helpers and file type associations for aurex 16.04

Package: aurex-boot-theme
Architecture: all
Depends: ${misc:Depends}, aurex-transmute, grub-pc, aurex-boot-theme-graphics, aurex-nice-boot-settings | aurex-ugly-boot-settings | aurex-awful-boot-settings
Description: Aurex 16.04 GRUB theme
 AureX grub2 theme

Package: aurex-nice-boot-settings
Architecture: all
Depends: ${misc:Depends}, grub-pc
Provides: aurex-boot-settings
Replaces: aurex-boot-settings
Conflicts: aurex-boot-settings, aurex-boot-theme (<=16.04.1)
Description: Defaults settings for the boot process
 Default configuration for aurex boot process

Package: aurex-ugly-boot-settings
Architecture: all
Depends: ${misc:Depends}, grub-pc
Provides: aurex-boot-settings
Replaces: aurex-boot-settings
Conflicts: aurex-boot-settings, aurex-boot-theme (<=16.04.1)
Description: Ugly settings for the boot process
 Ugly configuration for aurex boot process for conflictive
 displays that refuse to show grub menu

Package: aurex-awful-boot-settings
Architecture: all
Depends: ${misc:Depends}, grub-pc, aurex-plymouth-theme
Provides: aurex-boot-settings
Replaces: aurex-boot-settings
Conflicts: aurex-boot-settings, aurex-boot-theme (<=16.04.1)
Description: awful settings for the boot process
 awful configuration for aurex boot process for completely
 broken displays that refuse to show either grub or plymouth

Package: aurex-gtk-bookmarks-settings
Architecture: all
Depends: ${misc:Depends}, aurex-transmute (>=0.26)
Conflicts: aurex-default-settings (<=16.04.1)
Description: configure users gtk-bookmarks
 tools to manage gtk-bookmarks in aurex environments

Package: aurex-libreoffice-locking-fix
Architecture: all
Depends: ${misc:Depends}, aurex-transmute (>=0.26), libreoffice-common
Description: Disable file locking in libreoffice
 Disable file locking to allow file edition in shared folders

