[Desktop Entry]
Name=remove-icons
Comment=remove-icons
Exec=/usr/share/aurex-live-settings/aurex-remove-desktop-icons
Type=Application
OnlyShowIn=XFCE;
StartupNotify=false
