[Desktop Entry]
Name=Wallpaper sync GNOME3 -> XFCE
Comment=Wallpaper sync GNOME3 -> XFCE
Exec=/usr/share/aurex-default-settigs/aurex-wallpaper-sync
Type=Application
OnlyShowIn=XFCE;
StartupNotify=false
